*{
    margin: 0%;
}
.nav-tabs{
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Links{
    font-size: larger;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-decoration: none;
    background-color: rgba(121, 121, 121, 0.541);
    border-radius: 50px;
}
.Links:hover{
    color: crimson;
}
.logo{
    background-image:url("./Logos/funnyFlix.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 145px;
}

/* @media only screen and (max-width: 770px) {
    body {
      background-color: lightblue;
    }
  } */
/* 770px */