body{
  margin: 0;
}
.App{
  display: grid;
  justify-content: center;
  align-items: center;
  
}
.colorSqaure{
  height: 300px;
  width: 300px;
  margin: 0;
  grid-column: 1;
}
Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2;
}
.color{
  width: 100px;
}
.angleInput{
  width: 100px;
}